* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.home-container,
.auth-container,
.chat-container {
  border: 2px solid #000;
  border-radius: 5px;
  margin: auto;
  width: 90%;
}

@media (min-width: 600px) {
  .header,
  .home-container,
  .auth-container,
  .chat-container {
    width: 80%;
  }
}

@media (min-width: 800px) {
  .header,
  .home-container,
  .auth-container,
  .chat-container {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  .header,
  .home-container,
  .auth-container,
  .chat-container {
    width: 55%;
  }
}

.home-container h2,
.auth-container h2 {
  padding: 5rem 0 2rem 0;
  text-align: center;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 3rem 0;
  width: 60%;
}

.auth-container form > * {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  outline: none;
  padding: 0.8rem;
}

.auth-container form > :last-child {
  background: #9ae4a7;
  font-weight: bold;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
