.home-container p {
  line-height: 2.5rem;
  margin: auto;
  padding: 4rem;
  text-align: center;
}

.home-container a {
  background: #67b8d8;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.8);
  font-weight: bold;
  padding: 0.5rem;
}
