.topbar {
  background: #0f303a;
  border-bottom: 1px solid #000;
  border-radius: 0.4em 0.5em 0 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.topbar h2 {
  font-size: 1rem;
  padding: 0.7rem;
}
