.toggle-container {
  align-items: stretch;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 50%;
}

.toggle-container input {
  background: #5d939c;
  border: none;
  border-left: 1px solid #000;
  border-radius: 0.5em 0.5em 0 0.5em;
  cursor: pointer;
  font-weight: bold;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
}

.users-container {
  background-color: #466f77;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px 0 0 5px;
  display: none;
  height: 70.2vh;
  opacity: 0.95;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999;
}

.users-container ul {
  list-style: none;
  padding: 0.5rem;
  text-align: end;
}

.users-container li {
  border-bottom: 1.8px dashed #000;
  height: 100%;
  padding: 0.8rem;
}

.active {
  display: block;
}
