.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0.5rem 0rem 1.1rem 0rem;
  width: 90%;
}

.header p {
  background: #83ca8f;
  border: 1px solid #000;
  border-radius: 1rem;
  color: #000;
  font-weight: bold;
  padding: 0.5rem;
}
